<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Tab Item</a>
    <div class="tab-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras 
tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi 
facilisis porta volutpat. Fusce adipiscing, mauris quis congue 
tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. 
Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in 
sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus 
pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam 
imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Another Tab</a>
    <div class="tab-content">
      <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. 
Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac 
purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing 
tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac 
accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis 
congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum 
facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, 
congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum 
tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. 
Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor 
arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Third</a>
    <div class="tab-content">
      <p>Donec mattis mauris gravida metus laoreet non rutrum sem 
viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut 
sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla 
faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum 
tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus 
ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu 
lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor 
justo congue turpis.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Last Item</a>
    <div class="tab-content">
      <p>Sociis natoque penatibus et magnis dis parturient montes, 
nascetur ridiculus mus. Phasellus dui urna.</p>
    </div>
  </li> </ul>

<link rel="stylesheet" type="text/css" href="main.css" /> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script type="test/javascript" src="tabs.js"></script>
